<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

	<title>
        Error
    </title>
    
	<link href="../static/css/style.css"
         th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="wrapper">
	<div class="app">

		<h1>Error, something is wrong. Please try again!</h1>
		<a href="http://localhost:8081/activiti-service/startmanu">
	  		<button type="button" value="Back to start menu" name="Back to start menu" class="btn btn-1 btn-1e">Back to start menu</button>
		</a>

	</div>
</div>
</body>
</html>